<h1> Add a event </h1>

<%= simple_form_for @meeting do |f| %>

<%= f.input :name %>
<%= f.input :address %>
<%= f.input :intro %>
<%= f.input :start_time %>
<%= f.input :end_time %>

  <%= f.submit "Submit" %>
<% end %>
