<% if current_user && current_user.is_admin %>
  <div class="pull-right">
    <%= link_to("Add a news", new_news_path, :class => "btn btn-default" ) %>
  </div>
<% end %>



<div class="container-fluid">
  <section id="job-info">
    <% @news.each do |news| %>
      <div class="col-md-12">
        <!-- title -->
        <div class="col-md-6">
          <div align="center">
            <% if news.image.present? %>
              <%= image_tag(news.image.thumb.url) %>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="job-title">
            <h2><%= news.title %>
                <%= link_to("Edit", edit_news_path(news), :class => "btn btn-default")%>
                <%= link_to("Delete", news_path(news), :method => :delete,
                                :class => "btn btn-default", :data => { :confirm => "Are you sure?" })%>

            </h1>
          </div>

          <div class="job-time">
              <p><%= news.created_at.strftime("%b.%d,%Y")%></p>
          </div>

          <!-- description -->
          <div class="col-md-12">
            <div class="description">
              <p><%= simple_format(news.content) %></p>
            </div>
          </div>
        </div>
        <hr>
        <br>
      </div>
    <% end %>
  </section>
</div>
