<% if current_user && current_user.is_admin %>
  <div class="pull-right">
    <%= link_to("Add a news", new_news_path, :class => "btn btn-default" ) %>
  </div>
<% end %>



<div class="container-fluid">
  <div class="col-md-12">
    <section id="job-info">
      <% @news.each do |news| %>
        <!-- title -->
        <div class="job-title">

          <tr>
            <td><%= news.title %>
            <td>
              <%= link_to("Edit", edit_news_path(news), :class => "btn btn-default")%>
              <%= link_to("Delete", news_path(news), :method => :delete,
                              :class => "btn btn-default", :data => { :confirm => "Are you sure?" })%>

            </td>
          </tr>
        </div>

        <div class="job-time">
          <tr>
            <td><%= news.created_at.strftime("%b.%d,%Y")%></td>
          </tr>
        </div>

        <!-- description -->
        <div class="col-md-12">
          <div class="description">
            <%= simple_format(news.content) %>
            <hr>
            <br>
          </div>
        </div>

      <% end %>
    </section>
  </div>
</div>
