<div class="container-fluid" style="background-color: #FAFAFA;">
  <!--add 8em margin-->
  <div class="col-md-12" style="margin-top:8em;">
  </div>
  <% if current_user && current_user.is_admin %>
    <div class="pull-right">
      <%= link_to("Add a news", new_news_path, :class => "btn btn-default" ) %>
    </div>
  <% end %>

  <section id="news-info">
    <% @news.each do |news| %>
      <div class="col-md-12" style="margin-top:4em;">

        <!-- image -->
        <div class="col-md-6">
            <div align="center">
              <% if news.image.present?%>
                <%= image_tag(news.image.thumb.url, :class => "news-image") %>
              <% end %>
            </div>
        </div>

        <!-- content -->
        <div class="col-md-6">
          <div class="news-title">
            <h2><%= news.title %>
                <%= link_to("Edit", edit_news_path(news), :class => "btn btn-default")%>
                <%= link_to("Delete", news_path(news), :method => :delete,
                                :class => "btn btn-default", :data => { :confirm => "Are you sure?" })%>
            </h1>
          </div>
          <div class="news-time">
              <p><%= news.created_at.strftime("%b.%d,%Y")%></p>
          </div>
          <div class="description">
            <p><%= simple_format(news.content) %></p>
          </div>
        </div>

      </div>
    <% end %>

    <!--add 4em margin-->
    <div class="col-md-12" style="margin-top:4em;">
    </div>

  </section>
</div>
