<section id="news-info">
  <div class="news">

  </div>
  <div class="col-md-12">
    <div class="news-new">      
      <h1> Add a news </h1>

      <%= simple_form_for @news do |f| %>

      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.input :image, as: :file %>

        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
</section>
