<!DOCTYPE html>
<html>
  <head>
    <title>
      BU AR/VR: Boston University Augmented/Vertual Reality Club
    </title>
    <meta name="description" content="BU ARVR is group of Boston University students dedicated
    to introducing augmented and virtual reality technologies to the community around us.">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/e/v/ev89xjvmo2.ico" type="image/x-icon" />
  </head>

  <body>
    <%= render "common/navbar" %>
    <%= yield %>
  </body>
  <%= render "common/footer" %>
</html>
