<!DOCTYPE html>
<html>
  <head>
    <title>BU AR/VR: Boston University Augmented/Vertual Reality Club</title>
    <meta name="description" content="BU AR/VR is group of people dedicated to introduce augmented
    reality/virtual reality technologies to the community around us. We aim to foster an Augmented
    Reality and Virtual Reality enthusiastic atmosphere within Boston University. It’s a brand new
    initiative for students to gain recognition among bigger technology communities in Boston built
    upon intellectual interest in the cutting-edge AR/VR field.">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "common/navbar" %>
    <%= yield %>
  </body>
  <%= render "common/footer" %>
</html>
